body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Estilos del Hero */

.container--header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 110px;
    margin: 0;
    background-color: #FBD133;
    position: absolute;
}
.hero {

    background: linear-gradient(to right, #66E1FC, #0DB9DE);
    height: 600px;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    z-index: -1;;
}

.hero img {
    position: absolute;
    /* transform: scale(1.1); */
    /* height: 100%; */
}

.hero__text {
    margin: 0;
    position: relative;
    z-index: 1;
    top: 11%;
    text-align: center;
    left: 10px;

}

.--title {
    font-size: 64px;
    font-weight: 600;
}

.--subtitle {
    font-size: 30px;
    font-weight: 300;
}

/* Estilos del header */

.header {
    width: 100vw;
    max-width: 1000px;
    height: 110px;
    display: flex;
    position: absolute;
    margin-top: 0px;
    padding: 0 16px;
    background: transparent;
    justify-content: space-between;
    z-index: 1;
    align-self: center;
    align-items: center;
    background-color: #FBD133;
}

.header__logo {
    margin-right: 20px;
}

.header__logo img {
    height: 85px;
    margin: 0;
}

.menu {
    width: 425px;
    margin-right: 40px;
}

.menu__buton--container {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__buton a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    height: 100%;
}

.menu__buton a:hover {
    text-decoration: underline;
}

/* .--borde {
    background-color: #E45447;    
    text-align: center;
} */

.--borde a {
    font-weight: 500;
}